// Place all the styles related to the ofertas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-image: url(app\assets\images\fondo1.jpg);
   
    color: #333;
    margin: 33px; }